/* 
Author: Hemayatullah Sangin
website:  http://hemayat.io
GitHub:    https://github.com/imhemayatsangin
Instagram: @hemuu404  
*/

.bodyClass{
  background-color: #5685ba;
}
.container{

  margin-left: 33%;
}
#image-upload {
  position: relative;
  width: 300px;
  height: 300px;
  border: 2px dashed #ccc;
  border-radius: 4px;
  text-align: center;
  padding: 20px;
  cursor: pointer;
  overflow: hidden;
}

#image-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

#upload-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: #666;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#image-preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  transition: background-image 0.3s ease-in-out;
}
#image-upload button {
  /* background-color: #4CAF50; */
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  display: block;
  text-align: center;
}

#image-upload button:hover {
  background-color: #45a049;
}

#image-upload #upload-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: #666;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

#image-upload.has-image {
  border-color: #4CAF50;
}

#image-upload.has-image #upload-label {
  opacity: 0;
}

#image-upload.has-image button {
  display: block;
}

#image-upload.no-image {
  border-color: #ccc;
}

#image-upload.no-image #upload-label {
  opacity: 1;
}

#image-upload.no-image button {
  display: none;
}

/* adding scan laser effect */
#scan-beam {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #d70b0b; /* you can change the color here*/
  animation: scan 2s ease-in-out infinite;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

@keyframes scan {
  0% {
    top: 0;
  }
  50% {
    top: 100%;
  }
  100% {
    top: 0;
  }

}

/* progress bar style */
 #upload-progress {
  transition: opacity 0.3s ease-in-out;
} 
#upload-progress.hidden {

  display: none;
  opacity: 0 !important;
}
#progress-bar {
 
  width: 200px;
  height: 40px;
}